<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775573228288-698avh476t98o2bobecahadoh2cd6bgg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775573228288-698avh476t98o2bobecahadoh2cd6bgg</string>
	<key>API_KEY</key>
	<string>AIzaSyC2Pp48l8KduHbwoOMY9lbOTax51ClRid0</string>
	<key>GCM_SENDER_ID</key>
	<string>775573228288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fast-pay-mobile</string>
	<key>PROJECT_ID</key>
	<string>fast-pay-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>fast-pay-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775573228288:ios:0733b8f3a1424d5ec441e5</string>
</dict>
</plist>